@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: row;
  position: static;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 2.5rem;
  background-color: #000000;
}
.main-header .main-header__title {
  color: #ffffff;
  margin-top: -0.31rem;
  margin-left: 1.5%;
  font-family: "Monoton", cursive;
}

.main-banner {
  width: 100%;
  height: 27rem;
}
.main-banner .banner-img {
  width: 100%;
  height: 100%;
}

.sectional {
  display: block;
  margin: auto;
  background-color: #201f1f;
  width: 100%;
  height: 1rem;
}

.featured-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 18.75rem;
  background-color: rgb(235, 235, 235);
}
.featured-container .featured-details, .featured-container .featured__paintings {
  box-shadow: 10px 3px 15px #000000;
}
.featured-container .featured__paintings {
  width: 15.5rem;
  height: 15.5rem;
}
.featured-container .featured__img {
  width: 15.5rem;
  height: 15.5rem;
}
@media (max-width: 46.88rem) {
  .featured-container .featured-details, .featured-container .featured__paintings {
    box-shadow: none;
  }
  .featured-container .featured__paintings {
    width: 85%;
    height: 15.5rem;
  }
  .featured-container .featured__img {
    width: 100%;
    height: 15.5rem;
  }
}

@media (max-width: 46.88rem) {
  .featured-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 100%;
  }
}
.exhibition-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.exhibition-container .exhibition__img_wrapper {
  width: 100%;
  height: 100%;
}
.exhibition-container .exhibition__img {
  display: inline-block;
  margin-top: 0.5%;
  margin-left: 1.5%;
  width: 30%;
  height: 12.5rem;
}
.exhibition-container .exhibition__description {
  display: inline-block;
  vertical-align: top;
}
.exhibition-container .exhibition__description .exhibition__title {
  margin: 0;
  text-align: center;
  font-family: "Poiret One", cursive;
}
.exhibition-container .exhibition__description .exhibition__paragraph {
  width: 30rem;
  margin-top: 2%;
  margin-left: 5%;
  font-family: "Poiret One", cursive;
}
@media (max-width: 46.88rem) {
  .exhibition-container .exhibition-container {
    width: 100vw;
  }
  .exhibition-container .exhibition__img_wrapper {
    overflow: hidden;
  }
}
@media (max-width: 46.88rem) {
  .exhibition-container .exhibition__description {
    width: 18rem;
  }
}
@media (max-width: 25.88rem) {
  .exhibition-container .exhibition__img {
    width: 97.5%;
    height: 15.5rem;
  }
}
@media (max-width: 23.44rem) {
  .exhibition-container .exhibition__img {
    width: 98.5%;
    height: 17.5rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  position: static;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 15rem;
  background-color: #000000;
}

.nav-list {
  position: relative;
  right: -20%;
}
.nav-list .nav__item {
  display: inline-block;
  color: #ffffff;
  list-style: none;
  padding-left: 30px;
}

/*# sourceMappingURL=index.css.map */
