@use'../abstracts/mixins';
@use'../abstracts/variables';

.exhibition-container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background-color: #ffffff;

    
    .exhibition__img_wrapper{
       @include mixins.size(100%, 100%);
    }
    .exhibition__img{
      display: inline-block;
      margin-top: .5%;
      margin-left: 1.5%;
      @include mixins.size(30%, 12.5rem);
    }
    
    .exhibition__description{
      display: inline-block;
      vertical-align: top;

      .exhibition__title{
        margin: 0;
        text-align: center;
        font-family: variables.$def-font;
      }
      
      .exhibition__paragraph{
        width: 30rem;
        margin: {
          top:2%;
          left:5%;
        };
        font-family: variables.$def-font;
      }
    }

    @media (max-width:46.88rem){
     .exhibition-container{
       width:100vw;
     }
     .exhibition__img{
      @include mixins.size(100%, 25.5rem);
     }
     .exhibition__img_wrapper{
      overflow: hidden;
     }
   }

   @media (max-width:46.88rem){
     .exhibition__description{
       width:18rem;
     }
   }
}

