@use'../abstracts/mixins';
@use'../abstracts/variables';

.exhibition-container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background-color: white;

   .exhibition{
    &__img_wrapper{
       @include mixins.size(100%, 100%);
    }
    &__img{
      display: inline-block;
      @include mixins.size(30%, 12.5rem);
    }
    &__description{
      display: inline-block;
      vertical-align: top;

      .exhibition__title{
        margin: 0;
        text-align: center;
        font-family: variables.$def-font;
      }

      .exhibition__paragraph{
        width: 30rem;
        margin: {
          top:0%;
          left:5%;
        };
        font-family: variables.$def-font;

      }
    }
   }
}
