@use'../abstracts/mixins';
@use'../abstracts/variables';


.featured-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   @include mixins.size(100%,18.75rem);
   background-color: rgb(235, 235, 235);
   
   .featured-details{
      box-shadow: variables.$def-box-shadow;
   } 

      .featured__paintings{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
         @extend .featured-details
      }
      .featured__img{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
      }
      @media (max-width:46.88rem){
       .featured-details{
         box-shadow: none;
       }
       .featured__paintings{
         @include mixins.size(85%, variables.$def-item-ht)
       }
       .featured__img{
         @include mixins.size(100%, variables.$def-item-ht)
       }
      }

      
      
   }
 
   @media (max-width:46.88rem){
      .featured-container{
         display: flex;
         flex-direction: column;
         @include mixins.size(25rem,100%);
      }
   }


//   @media (max-width:23.44rem){
//    .featured-container{
//       display: none;
//    }
//   }