@use'../abstracts/mixins';
@use'../abstracts/variables';


.featured-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   @include mixins.size(100%,18.75rem);
   background-color: white;
   
   .featured-details{
      box-shadow: variables.$def-box-shadow;
   }

   .featured{
      &__jewelry{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
         @extend .featured-details
      }

      &__paintings{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
         @extend .featured-details
      }

      &__sculptures{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
         @extend .featured-details
      }

      &__img{
         @include mixins.size(variables.$def-item-wth, variables.$def-item-ht);
      }
   }
}