@use'../abstracts/mixins';

.footer{
    display:flex;
    flex-direction: row;
    @include mixins.footer-position(static,0%,0%);
    @include mixins.size(100%, 15rem);
    background-color: black;
}