@use'../abstracts/mixins';
@use'../abstracts/variables';

.main-header{
    display: flex;
    flex-direction: row;
    @include mixins.header-position(static,0%,0%);
    @include mixins.size(100%,2.5rem);
    background-color: variables.$header;

   .main-header__title{
     color:#ffffff;
     margin: {
        top: -0.31rem;
        left:1.5%
     }
     font-family: variables.$title-font;
   }
}