.nav-list{
    position: relative;
    right: -20%;

    
    .nav__item{
        display: inline-block;
        color:#ffffff;
        list-style: none;
        padding-left:30px;
        font-family:'Poiret One', cursive;
    }
}
