@use'../abstracts/mixins';

.sectional{
    display:block;
    margin:auto;
    background-color: #201f1f;
    // background-color: rgba(228, 228, 228, 0.942);
    @include mixins.size(100%,1rem);
    
}