@use'../abstracts/mixins';

.exhibition-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include mixins.size(100%,30rem);
    background-color: white;
   .exhibition{
    &__img_wrapper{
       @include mixins.size(100%, 100%);
      //  background-color: antiquewhite;
    }
    &__img{
      @include mixins.size(100%, 100%);
    }
   }
}
