// ================
// font-size in rem
// ================
@mixin rem($value,$base: 16){
    font-size: ($value/$base) * 1rem;
}


// ===================
// Width and Height
// ===================
@mixin size($width,$height){
    width:$width;
    height:$height;
}

// ==================
// Header Positioning 
// ==================
@mixin header-position($position,$top,$left){
    position: $position;
    top:$top;
    left:$left;
}

// ===================
// Footer Positioning
// ===================
@mixin footer-position($position,$bottom,$left){
    position: $position;
    bottom:$bottom;
    left:$left;
}