// colors
$header: #000000;
$footer: #000000;
//fonts
$def-font:'Poiret One', cursive;
$title-font:'Monoton', cursive;
//box-shadow
$def-box-shadow:10px 3px 15px #000000;
//flexbox item variables
$def-item-wth:15.50rem;
$def-item-ht:15.50rem;